@font-face {
	font-family: 'Jua';
	font-style: normal;
	font-weight: 400;
	src: local('Jua Regular'), local('Jua-Regular'), url(https://fonts.gstatic.com/s/jua/v5/co3KmW9ljjAjdoj5COPT3NGswha8nSm72mkQiB_S3H3ljFIIZUHe7YZaQp_VI6z8.2.woff2) format('woff2');
	unicode-range: U+d723-d728, U+d72a-d733, U+d735-d748, U+d74a-d74f, U+d752-d753, U+d755-d757, U+d75a-d75f, U+d762-d764, U+d766-d768, U+d76a-d76b, U+d76d-d76f, U+d771-d787, U+d789-d78b, U+d78d-d78f, U+d791-d797, U+d79a, U+d79c, U+d79e-d7a3, U+f900-f909, U+f90b-f92e;
  }

html{ background-color: rgba(255, 255, 255, 0.2); }
h3 { margin: 0px 40px; }
h4 { margin: 0px 40px; }
hr { margin: 0px 40px; }
p { margin: 0px 40px; }
.index-name {
	color : black;
	padding-right: 40px;
	padding-left:40px;
	
}

.topmenu{
	height: 30px;
	width: 100%;
	margin-bottom: 40px;
	padding-right: 30px;
}

.topmenu ul li {
	list-style: none;
	float: left;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	background-color: #2d2d2d;
	color: white;
	width: 25%;
	margin-bottom: 5px;
}

.topmenu .menuLink{
	text-decoration: none;
	display:inline-block;

	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: white;

}

.topmenu .menuLink:hover {
	color: gray;
	background-color: #4d4d4d4d;
	font-style: italic;
}

.Login-Section {
	margin-top: 20px;
}
.body-left-box {
	padding-left:20px;
	padding-right:20px;
	background: #0ff00000;
	float: left;
	width: 50%;
	margin-top: 5px;
}
.body-right-box {
	background: #0ff00000;
	float: right;
	width: 50%;
	padding-left:20px;
	padding-right:40px;
	margin-top: 5px;
}

.box-left-box {
	float:left;
	width: 50%;
	height: 100%;
}
.box-right-box {
	float:right;
	width: 50%;
	height: 100%;
	padding: 10px 10px;

}

.Login-button {
	text-decoration: none;
	width:100%;
	height: 69px;
	font-size: 20px;
	border: 1px solid #707070;
	background-color: white;
	color: black;
	letter-spacing: 1px;
	-webkit-transition: all .15s linear;
	transition: all .15s linear;
	border-radius:10px;
}
.Login-button:hover {
	background-color: black;
	color: white;
	border: 1px solid rgba(0,0,0, 0.05);
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
	text-shadow: -1px -1px 0 #080808;
	border-radius:10px;
}

.id {
	margin-bottom: 10px;
	width: 100%;
}
.password {
	width:100%;
	margin-bottom: 10px;
}

.Notice #Guest-Notice{
	margin-top: 10px;
	width:100%;
	height: 80px;
}
.Write-History{
	margin-top: 5px;
	width: 100%;
	height:80px;
}

.Likelion {
	padding-top:10%;
	padding-left: 15%;
	width: 150%;
	height: 150%;
}
.HIST_IMG {

	width:100%;
	height: 100%;
	margin-bottom: 50px;

}

.opiHIST {
	font-weight: bold;
}

.ROKA-CERT {

	margin-top: 50px;
	text-decoration: none;
	
}

.ROKA-CERT :hover {
	text-decoration: none;
	width:100%;
	height: 100%;
	font-size: 40px;
	border: 5px white;
	-webkit-transition: all .15s;
	transition: all .10s none;
	border-radius: 30px;
}
.Servie_Intro_Img{
	padding: 30px,;
	margin-left: 32%;
	width: 35%;
}
.intro_Service{
	font-size: 20px;
	margin-top: 3%;

	font-family: 'Gugi', cursive;
	
}
#Inquiry {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:4%;
}
#User_Info{
	padding-right: 20%;
}
.Input{
margin-right:50px;
padding-right:30px;
}
.Inquiry_text{
	width: 90%;
	line-height: 250px;
	margin: 4%;
}
#submit_inq{
	background:skyblue;
	color:#fff;
	border:none;
	position:relative;
	height:60px;
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}

#submit_inq:hover{
	background:#fff;
	color:skyblue;
  }

  #submit_inq:before,#submit_inq:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: skyblue;
	transition:400ms ease all;
  }

  #submit_inq:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  #submit_inq:hover:before, #submit_inq:hover:after{
	width:100%;
	transition:800ms ease all;
  }

